.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
table {
  margin: auto;
  width: 500px;
}

tr.Good{
  background: green;
}

tr.Satisfactory{
  background:rgb(85, 248, 85)
}

tr.Moderate{
  background:yellow
}

tr.Poor{
  background:orange
}

tr.VeryPoor{
  background:rgb(252, 25, 25)
}

tr.Severe{
  background:rgb(160, 1, 1)
}

tr{
  cursor: pointer;
}


.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
